@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.chart-header {
  color: $Primary-Dark-Font;
  @include desktop {
    @include display-flex(row, space-between, center);
    border-bottom: 2px solid $Primary-Dark-Font;
    padding: 0 0 0.5rem 0;
  }

  &-wrapper-1 {
    @include display-flex(row, flex-start, center);
    @include tablet {
      @include display-flex(row, flex-start, center);
    }
    @include desktop {
      width: 20%;
    }
  }
  &-wrapper-2 {
    margin: 0 0 1rem 0;
    @include tablet {
      @include display-flex(column, space-around, center);
    }
    @include desktop {
      width: 80%;
      @include display-flex(row, space-between, center);
      margin: 0;
    }
  }

  &__stock {
    font-size: 18px;
    @include tablet {
      font-size: 32px;
    }
  }
  &__price {
    font-size: 18px;
    margin: 0 0 0 1rem;
    @include tablet {
      font-size: 30px;
      margin: 0.2rem 0 0 1.5rem;
    }
  }

  &__search {
    width: 100%;
    @include tablet {
      @include display-flex(row, space-between, center);
    }
  }
  &__input {
    width: 100%;
    border-radius: 4px;
    padding: 0 8px;
    height: 35px;
    border: 1px solid $Primary-Dark-Font;
    margin: 0.5rem 0 0.1rem 0;

    @include tablet {
      width: 30%;
      margin: 0 0.2rem;
      height: 40px;
    }
  }
  &__search-container {
    width: 100%;
    margin: 0.5rem 0;
    @include display-flex(row, space-between, center);
    @include tablet {
      width: 32%;
    }
  }
  &__search--label {
    color: $Primary-Dark-Font;
    width: 12%;
    @include tablet {
      display: none;
    }
  }

  &__select {
    width: 85%;
    height: 35px;
    border-radius: 4px;
    padding: 0 8px;
    height: 35px;
    border: 1px solid $Primary-Dark-Font;
    @include tablet {
      width: 100%;
      margin: 0 0.2rem;
      height: 40px;
    }
  }
  &__button {
    width: 100%;
    cursor: pointer;
    border: none;
    background-color: #4061ba;
    align-self: center;
    color: White;
    border-radius: 4px;
    padding: 5px 12px;
    height: 35px;

    @include tablet {
      width: 30%;
      height: 40px;
      margin: 0 0.2rem;
      align-self: center;
    }
    @include desktop {
      margin-left: 0.2rem;
      align-self: center;
      height: 40px;
    }
  }
}

.chart {
  width: 100;
  @include desktop {
    margin-top: 1rem;
  }
}
