@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.newslist {
  border: 2px solid $Primary-Dark-Font;
  border-radius: 4px;
  box-shadow: 0px 4px 7px rgba(19, 24, 44, 0.2);
  padding: 1rem;

  &__header {
    color: $Primary-Dark-Font;
    text-align: center;
    border-bottom: 1px solid $Primary-Dark-Font;
  }
  &__list {
    @include display-flex(column, space-between, flex-start);
    height: 437px;
    overflow: hidden;
    overflow-y: scroll;
  }
}
