@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.dashboard__charts {
  @include max-width;
  @include desktop {
    @include display-flex(row, space-between, center);
  }
}

.dashboard__header {
  &--title {
    margin: 1rem 0;
    font-size: 2rem;
    color: $Primary-Dark-Font;
    text-align: center;
    text-decoration: underline;
    @include tablet {
      margin: 2.25rem 0 0 0;
      font-size: 2.5rem;
    }
  }
}

.dashboard__info {
  @include max-width;

  &-container {
    margin: 1rem 0;
    width: 100%;
    padding: 0 16px;
    @include display-flex(column, flex-start, flex-start);
    @include tablet {
      margin: 2.25rem 0;
      padding: 0 2.25rem;
      @include display-flex(column, flex-start, flex-start);
    }

    @include desktop {
      @include display-flex(row, space-between, flex-start);
      padding: 0;
    }
  }

  &-wrapper {
    width: 100%;
    @include display-flex(column, flex-start, flex-start);

    @include tablet {
      width: 100%;
      @include display-flex(row, space-between, flex-start);
    }
    @include desktop {
      width: 49%;
      @include display-flex(row, space-between, flex-start);
    }
  }

  &--news {
    width: 100%;
    @include tablet {
      @include display-flex(row, center, flex-start);
    }
    @include desktop {
      width: 49%;
    }
  }
}

.dashboard__social {
  @include max-width;
  padding: 0 1rem;
  margin: 1rem 0;

  @include tablet {
    padding: 0 2.25rem;
  }

  @include desktop {
    padding: 0;
  }
  &-container {
    @include display-flex(column, center, flex-start);

    @include tablet {
      margin: 2.25rem 0;
      @include display-flex(row, space-between, center);
    }
  }
}
