@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.position {
  color: $Primary-Dark-Font;
  padding: 1rem;
  border-radius: 4px;
  box-shadow: 0px 4px 7px rgba(19, 24, 44, 0.2);
  margin: 0 0 2rem 0;

  &__accountBalance-wrapper {
    @include display-flex(row, flex-start, center);
  }

  &__header {
    font-size: 24px;
    text-align: center;
    margin: 0 0 0.5rem 0;
  }

  &-wrapper {
    @include display-flex(column, center, center);
    padding: 1rem 0;

    &.first {
      border-bottom: 1px solid #e1e1e1;
    }
  }
  &__table {
    width: 80%;

    @include tablet {
      width: 90%;
    }
  }

  &__button-wrapper {
    @include display-flex(row, center, center);
    margin: 1rem 0;
  }

  &__button {
    height: 35px;
    width: 120px;
    margin: 0 0.1rem;
    cursor: pointer;
    border: none;
    color: $Primary-Light;
    border-radius: 4px;
    padding: 5px 12px;

    &.buy {
      background-color: limegreen;
    }
    &.sell {
      background-color: red;
    }
  }
}
