//breakpoints
$tablet-width: 768px;
$desktop-width: 1280px;
$max-content-width: 1200px;
$max-hero-width: 1000px;
$semi-tablet-width: 560px;

$Primary-Light: #e0e1dd;
$Primary-Dark-Backgronund: #415a77;
$Primary-Dark-Font: #223b69;
