@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.commentslist {
  border: 2px solid $Primary-Dark-Font;
  border-radius: 4px;
  box-shadow: 0px 4px 7px rgba(19, 24, 44, 0.2);
  padding: 1rem;

  &__header {
    color: $Primary-Dark-Font;
    border-bottom: 1px solid $Primary-Dark-Font;
  }

  &__form {
    width: 100%;
    margin: 0 0.5rem;

    &--input {
      width: 74%;
      border-radius: 4px;
      outline: $Primary-Dark-Font;
      height: 35px;
      padding: 0.5rem;
      margin-right: 0.5rem;

      &:focus {
        outline: #4061ba;
      }
    }

    &--button {
      width: 20%;
      border-radius: 4px;
      height: 35px;
      background-color: #4061ba;
      cursor: pointer;
      color: white;
      border: none;
    }
  }

  &__empty {
    text-align: center;
    margin: 1rem;
  }
  &__list {
    height: 400px;
    overflow: hidden;
    overflow-y: scroll;
  }
}
