@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.portfolioOverview {
  padding: 16px;
  width: 100%;
  border-radius: 4px;
  background-color: $Primary-Dark-Backgronund;
  color: white;
  border: 1px solid White;
  box-shadow: 0px 4px 7px rgba(19, 24, 44, 0.2);
  margin: 0.5rem 0;

  @include tablet {
    width: 45%;
    padding: 2.25rem;
  }
  @include desktop {
    width: 100%;
    padding: 2.25rem;
    margin: 0 0 0 0.5rem;
  }

  &__header {
    color: White;
    text-align: center;
    border-bottom: 1px solid White;
    padding-bottom: 0.5rem;
  }
}
