@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.dailyItem {
  @include display-flex(row, space-between, center);

  p {
    width: 30%;
    text-align: center;
    margin: 0.2rem;
  }

  &__link {
    width: 30%;
    text-decoration: none;
    padding-right: 1rem;
    @include display-flex(row, center, center);
  }

  &__red {
    color: #ff2620;
  }

  &__green {
    color: #009900;
  }
}
