@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.accountpie {
  width: 100%;
  //padding: 0 16px;

  @include tablet {
    width: 50%;
  }

  &__chart {
    width: 95%;
    margin: 0 16px;
  }
}
