@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.nav {
  color: $Primary-Light;
  border-bottom: 2px solid $Primary-Light;
  background-color: #333333;

  &-wrapper {
    @include max-width;
    width: 100%;
    padding: 0px 16px;
    @include display-flex(row, space-between, center);

    @include tablet {
      @include display-flex(row, space-between, center);
      padding: 0px 36px;
    }
  }

  &__header {
    margin: 0.5rem;
    color: $Primary-Light;
  }

  &__tablet-wrapper {
    @include display-flex(row, space-around, center);
    width: 100%;
    @include tablet {
      @include display-flex(row, flex-start, center);
    }
  }

  &__link {
    list-style: none;
    text-decoration: none;
  }

  &__link--text {
    margin: 0.5rem;

    color: $Primary-Light;

    &:hover {
      color: #4061ba;
    }
  }
}

.home-banner {
  background-image: url('https://images.unsplash.com/photo-1590283603385-17ffb3a7f29f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80');
  color: $Primary-Light;
  width: 100%;
  height: 100vh;
  aspect-ratio: 16/9;
  background-size: cover;
  background-position: center;
  @include display-flex(row, flex-start, flex-start);

  &__text-wrapper {
    @include max-width;
    width: 100%;
    padding: 0 1rem;
    margin: 8rem 0rem 0rem 0rem;

    @include tablet {
      padding: 0 36px;
    }
  }

  &__header {
    font-size: 3rem;
    text-align: left;
    color: $Primary-Light;
    margin: 1rem 0;

    @include tablet {
      font-size: 3.5rem;
      line-height: 3.8rem;
    }
  }

  &__tagline {
    font-size: 1.5rem;
    margin: 1rem 0;

    @include tablet {
      font-size: 1.8rem;
    }
  }

  &__subheader-wrapper {
    @include display-flex(row, flex-start, center);

    @include tablet {
      margin: 0 0rem;
    }
  }

  &__text {
    @include tablet {
      font-size: 1rem;
      margin-left: .5rem;
    }
  }

  &__button {
    cursor: pointer;
    border: none;
    margin: 0.5rem;
    background-color: #4061ba;
    color: $Primary-Light;
    border-radius: 4px;
    padding: 5px 12px;

    @include tablet {
      font-size: 1rem;
      padding: 5px 15px;
    }

    &:hover {
      padding: 6px 16px;
    }
  }

  &__img {
    height: 1.5rem;
    width: 1.5rem;
    margin-bottom: .3rem;
  }
}
