@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.portfolio {
  padding: 16px;
  width: 100%;
  border-radius: 4px;
  background-color: $Primary-Dark-Backgronund;
  color: white;
  border: 2px solid #192841;
  box-shadow: 0px 4px 7px rgba(19, 24, 44, 0.2);
  margin: 0.5rem 0;

  @include tablet {
    width: 100%;
    padding: 2.25rem;
  }

  @include desktop {
    width: 100%;
    padding: 2.25rem;
    margin: 0;
  }

  &__header {
    color: White;
    text-align: center;
    border-bottom: 1px solid White;
    padding-bottom: 0.5rem;
  }

  &__table--header {
    @include display-flex(row, space-between, center);
    width: 100%;
  }

  &__table--item {
    width: 20%;
    margin: 0;
    text-align: center;
  }
  &__list {
    height: 300px;
    overflow: hidden;
    overflow-y: scroll;
  }
}
