@use '../../styles/partials/mixins'as *;
@use '../../styles/partials/variables'as *;

.friendPortfolioPL__chart {
    padding: 1rem;
    width: 100%;

    @include tablet {
        width: 100%;
        padding: 2rem;
        border-radius: 4px;
        border: 1px solid $Primary-Dark-Font;
        box-shadow: 0px 4px 7px rgba(19, 24, 44, 0.2);
    }

    &--header {
        color: $Primary-Dark-Font;
        text-align: center;
        border-bottom: 1px solid $Primary-Dark-Font;
        padding-bottom: 0.5rem;
    }
}