@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.portfoliodashboard {
  &__header-wrapper {
    width: 100%;
    @include max-width;
    @include display-flex(row, center, center);
  }

  &__header {
    text-align: center;
    margin: 2rem;
    color: $Primary-Dark-Font;
    width: 100%;
    text-align: center;
    text-decoration: underline;
    @include tablet {
      margin: 3rem 0 0 0;
      font-size: 3rem;
    }
  }

  &__header--img {
    margin-top: 2rem;
    @include tablet {
      margin-top: 3rem;
    }
  }
  &-wrapper {
    @include tablet {
      padding: 0 36px;
      @include display-flex(row, space-between, flex-start);
    }

    &.middle {
      margin: 1rem 0;
      @include tablet {
        margin: 2.25rem 0;
      }
      @include desktop {
        @include display-flex(row, space-between, flex-start);
      }
    }
  }
  &-container {
    width: 100%;
    margin: 1rem 0;
    padding: 0 16px;
    @include display-flex(column, center, center);

    @include tablet {
      @include display-flex(row, space-between, flex-start);
    }

    &.middle {
      @include max-width-tablet;
      @include display-flex(column, center, center);

      @include tablet {
        @include display-flex(row, space-between, flex-start);
      }
      @include desktop {
        @include display-flex(row, space-between, flex-start);
      }
    }
  }

  &__tablet-first {
    width: 100%;
    @include tablet {
      width: 48%;
      @include display-flex(row, center, center);
      @include max-width-tablet;
    }
    @include desktop {
      width: 48%;
      @include display-flex(row, flex-start, center);
      margin: 0;
    }
  }

  &__tablet-second {
    width: 100%;
    @include tablet {
      width: 48%;

      @include display-flex(row, space-around, flex-start);
      @include max-width-tablet;
    }
    @include desktop {
      width: 48%;
      margin: 0;
    }
  }
}
