@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.portfoliodashboard {
  &-wrapper {
    @include max-width;
    @include tablet {
      padding: 0 36px;
      @include display-flex(row, center, flex-start);
    }

    &.middle {
      margin: 1rem 0;
      @include tablet {
        margin: 2.25rem 0;
      }
    }
  }
  &-container {
    width: 100%;
    @include display-flex(row, center, flex-start);
    @include max-width;
  }
}
