@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.watchlistItem {
  @include display-flex(row, space-between, center);

  p {
    width: 30%;
    text-align: center;
    margin: 0.2rem;
  }

  &__red {
    color: #ff2620;
  }

  &__green {
    color: limegreen;
  }
}
